[2016-10-27 08:30] strangeman opened #1 "yum: Package is not signed."
Hello. Looks like you're not signed your packages.

[2016-10-28 18:58] lest commented on #1
You are right. Only metadata were signed. However, I pushed new signed packages. In order to make verification work, please make sure to update `prometheus.repo` as described in README:

[code]

[2016-10-28 18:58] #1 closed

[2017-02-15 18:14] kinghrothgar opened #2 "node_exporter probably should be run as root"
So if I am not mistaken, about 50% of node_exporter's collectors (sockstat , netstat, hwmon, ext.) require it running as root. The service file has it running as the prometheus user. Although it would be nice to have it not run as root, I think it really has too.

[2017-02-15 18:22] lest commented on #2
There are no mentions in node_exporter's README about running it as root. I'm not sure that collectors that you mentioned require running as root. For example, the sockstat collector reads `/proc/net/sockstat` which is readable for all users, the same is for the netstat collector that reads `/proc/net/netstat`.

Did you encounter any specific errors or missing data when running node_exporter as a

[2017-02-15 18:32] kinghrothgar commented on #2
[code]

So at least on CentOS 7, /sys/class is 700, so hwmon definitely requires root. I'm confused on the other ones though as the permissions are 444. However running as root fixes the errors. I guess I should open an issue on node_exporter to see if this is expected.

[2017-02-15 18:38] lest commented on #2
This is weird. I have the latest CentOS 7 running but not on bare-metal, however. That's why there is no `/sys/class/hwmon` present but `/sys/class` directory permissions are 0755.

A possible difference can be in SELinux settings since I don't have it enabled.

[2017-02-15 18:40] kinghrothgar commented on #2
It's because I'm running a stupid OVH custom kernel (not by choice).  Closing, Thanks for the help.

[2017-02-15 18:40] #2 closed

[2017-11-13 15:34] neuroxdnb opened #16 "Enabling service on install"
### Submission type

 - Bug report

Usual behavior of packages containing services upon installation is to register the service being installed and start it. However this is not true for prometheus packages.
RPM POSTIN spec does not contain ```systemctl enable prometheus.service``` but contains:
[code]
Looking at systemd [sources](https://github.com/systemd/systemd/blob/master/src/core/macros.syst

[2017-11-14 09:16] lest commented on #16
Hi @neuroxdnb! Thank you for reporting this issue.

When creating the initial version of spec files, I checked spec files for different network services such as nginx, elasticsearch, etc. They use the `%systemd_post` macro or the `systemd preset` command.

Could you please provide some examples of packages that automatically start the service upon installation?

[2018-01-12 19:39] scttfrdmn opened #22 "snmp.yml is missing from snmp_exporter"
The snmp.yml file is needed for snmp_exporter to run.

I would be happy to submit a pull request but I am not sure where you would want to put the file.

-Scott

[2018-01-16 07:56] lest commented on #22
Hi Scott,

I think we can put it to `/etc/prometheus/snmp.yml` similar to how we have `blackbox.yml` copied to `/etc/prometheus/blackbox.yml`:

https://github.com/lest/prometheus-rpm/blob/master/blackbox_exporter/blackbox_exporter.spec

Thank you!

Cheers,
Sergey

[2018-02-08 13:12] lest commented on #22
Fixed in 94a4a3127af2b35af9b8aebd6297d2707758507d.

[2018-02-08 13:12] #22 closed

[2018-02-16 15:02] finkr opened #30 "Exporters for Red Hat and CentOS 6"
Hello,

We would like to use Prometheus to monitor ou servers, which also has some Red Hat and CentOS 6.

We wonder if you plan to add RHEL6 / CentOS 6 packages for client side exporter (especially  node_exporter, procfs, pushgateway...)

Thanks

[2018-02-19 15:30] finkr commented on #30
For your information, we have successfully compiled and tested node_exporter 0.15.0 with Go 1.10 on RHEL 6.6

[2018-03-14 09:42] lest commented on #30
Hi @finkr,

I don't have any servers running Red Hat or CentOS 6, so I don't have enough motivation in supporting them. However, I will welcome contributions adding CentOS 6 support to package specs.

Cheers,
Sergey

[2018-03-14 09:42] #30 closed

[2018-03-27 16:41] zoonage opened #36 "Building fails when run locally"
# Problem

Running `make` for exporters fails locally due to bad owners / groups. However it passes the builds in TravisCI.

# Expected

Running `make` to succeed and produce the appropriate RPM

# Example
[code]

[2018-03-27 16:46] zoonage commented on #36
Looked inside the .travis.yml, looks like if the user is not root then the build fails.

[2018-03-27 17:04] zoonage commented on #36
Just tested using the commands from [the docker image used to build RPMs](https://github.com/lest/centos7-rpm-builder-docker/blob/master/bin/build-spec). I suspect that this is an issue with UID changing when Docker is mounting volumes.

[2018-04-05 12:00] finkr commented on #30
For those who need to monitor RHEL/CentOS6 [ or any linux distribution], you can download a statically compiled binary of node-exporter (and other exporters) directly from  Prometheus Download page:
https://prometheus.io/download/

Make sure to click on "Release notes" to download the most appropriate binary for your Linux variant (i386, x86_64 ...).

This is not an RPM, you have to deploy the fil

[2018-04-13 19:51] zoonage commented on #30
@finkr I've put in a PR to add support for Centos6 (and Centos5 as well, however they aren't pushed to the el5 repos)

[2018-04-25 12:09] zoonage opened #39 "[discussion] Templatising common scripts"

[2018-04-25 12:13] zoonage commented on #39
Is it worth creating templates for the systemd unit files, RPM spec files, and sysv unit scripts to remove a lot of the boiler plate?

My proposition would be have have a YAML file for each RPM that contains template values to populate common fields of common files.

This YAML confit could be extended to include custom commands for the section. To do this I think using blocks would be sufficient.

[2018-06-26 09:10] lest commented on #39
Closing as https://github.com/lest/prometheus-rpm/pull/40 was merged. Thank you!

[2018-06-26 09:10] #39 closed

[2018-06-26 12:48] edgarswed opened #45 "Some kind of mess with node_exporter package."
New version of node_exporter **0.16.0** is buggy. During install it doesn't create 'prometheus' user.
Also yum info output is strange:

[code]
Size and description are seems to be weird...

[2018-06-26 12:56] lest commented on #45
Thank you for reporting the issue. I removed the updated package from the repo for now and will investigate what got broken.

[2018-06-27 18:34] crunchyjohn opened #48 "Looks like the node_exporter folder's contents got deleted?"
Hello,

I'm just reporting that node_exporter appears to have had its specfile and service file deleted.  Looking at the tree, it appears to be from a bad merge and possibly unintentional.  Can that be fixed?

Thanks!

[2018-06-27 19:33] zoonage commented on #48
Hi @crunchyjohn this is part of the change for #40. This was part of a move towards a way to more easily manage this repository by templating these files, especially when trying to support CentOS 6.

The node_exporter RPM is now generated in two parts. (same with all auto generated RPMs)

1. The templating tool is run that reads the config in `templating.yaml` and uses the templates in `templates/

[2018-06-27 19:35] zoonage commented on #36
@lest do you want me to merge my changes to your centos building docker container or shall we just close this out as investigated but won't fix?

[2018-06-27 19:37] crunchyjohn commented on #48
Thanks!

[2018-06-27 19:37] #48 closed

[2018-06-29 07:32] lest commented on #36
@zoonage Could you please share the fix? I think it would be good to have it fixed.

[2018-06-29 10:21] edgarswed opened #50 "Node exporter does not read defaults file"
Hello,
looks like another small bug in node_exporter rpm.

Variable name is different, therefore node_exporter starts, but doesn't apply flags from /etc/default/node_exporter

[2018-06-29 11:18] nickb834 commented on #50
That's specific to systemd boxes for what it's worth, RH6 using sysv reads it just fine (default needs USER= adding in for eg to get the app to start)

[2018-06-29 11:37] lest commented on #50
Thank you for reporting this issue. Fixed in https://github.com/lest/prometheus-rpm/commit/376022024fe7201df0823c072da4cd79beb3caa7.

[2018-06-29 11:37] #50 closed

[2018-06-29 14:19] zoonage commented on #36
@lest I've opened a PR in https://github.com/lest/centos7-rpm-builder-docker/pull/2 for this.

[2018-07-01 06:32] fchiorascu opened #52 "Exporters not updated to last version in the repo."
Hi,

I've checked the repository and I did not find all the versions for the components:
-HAProxy
-Redis
etc

Will you update the repository to all versions for exporters also.

Kind Regards,

[2018-07-16 06:02] nodanero opened #53 "repomd.xml missing in packagecloud.io"
Hi,

It seems that the metadata of the repository is missing

root@localhost root]# reposync -l --repoid=prometheus --download_path=/var/repos/prometheus-centos7
Loaded plugins: product-id, subscription-manager
rhel-7-server-rpms                                                                                                                                                        | 3.5 kB  00:00:00

[2018-07-16 17:52] Nyoroon opened #54 "New version of mysqld_exporter is out"
https://github.com/prometheus/mysqld_exporter/releases/tag/v0.11.0

[2018-07-20 15:29] zoonage commented on #53
@nodanero I think that Package Cloud were experiencing an issue, the metadata is back now.

[2018-10-02 13:10] zoonage commented on #53
@nodanero  is this still an issue?

[2018-10-02 15:09] zoonage commented on #52
Working on this ATM

Redis is hacked in a little bit until https://github.com/oliver006/redis_exporter/issues/173 is fixed
HAproxy is in progress

I can put in updates for requested exporters, but I won't be manually going around updating all of them

[2018-11-15 15:41] zoonage commented on #52
@fchiorascu are there any more exporters you want done in particular or can we close this out?

[2018-11-15 22:53] fchiorascu commented on #52
- Haproxy
- Elasticsearch
- Redis
- Mongodb
- Memcached
- Consul
- Blackbox Exporter
- MQTT

Thank you very much for your work, really appreciated.

[2018-12-05 03:37] k0ste opened #66 "snmp_exporter: 0.14.0 is out."
https://github.com/prometheus/snmp_exporter/releases/tag/v0.14.0

[2018-12-07 13:56] zoonage commented on #53
@nodanero or @ak-uk  did you install it using the script from package cloud or from the `README.md`? Could you please put the contents of `/etc/yum.repos.d/prometheus-rpm_release.repo` or `/etc/yum.repos.d/prometheus.repo` (depending on the installation method) into this ticket so I can try and troubleshoot with the same setup as you?

[2018-12-07 21:37] jaxxstorm opened #67 "Addition of ping exporter"
There's a fantastic ping exporter here: https://github.com/czerwonk/ping_exporter

Would you accept a PR for RPMs of it?

[2018-12-20 13:31] lest commented on #66
Hi @k0ste,

I updated the snmp_exporter package to the latest version.

The build process is automated on Travis CI, so it's enough to have a pull request (like this one https://github.com/lest/prometheus-rpm/pull/72) merged to have the updated package available in the repository.

Feel free to submit a pull request in future to get access to updated packages faster.

Cheers,
Sergey

[2018-12-20 13:31] #66 closed

[2018-12-20 13:43] k0ste commented on #66
@lest, got it.
Thank you.

[2018-12-27 09:17] ak-uk commented on #53
[prometheus]
name=prometheus
baseurl=https://packagecloud.io/prometheus-rpm/release/el/7/x86_64
repo_gpgcheck=1
enabled=1
gpgkey=https://packagecloud.io/prometheus-rpm/release/gpgkey
gpgcheck=1

[2018-12-28 15:42] britcey opened #75 "Packaging question - thanos?"
This is not exactly an issue, just some questions:

1) Any interest in adding Thanos?  https://github.com/improbable-eng/thanos

2) If 'yes', a packaging question:

Thanos is really a variety of components - a single 'thanos' binary with various subcommands:

'thanos sidecar'
'thanos store'
'thanos query'
'thanos compact'

etc.

What makes more sense:

1) a single 'thanos' package, with thanos_sid

[2019-01-02 08:51] lest commented on #75
Hi @britcey,

I don't mind having it added.

I think it's better to have a single package with the binary and all the services. Users will be able to enable only services they want to use.

Cheers,
Sergey

[2019-01-02 14:46] britcey commented on #75
Sounds good (and easier for me :-).

PR to come.

[2019-01-02 14:46] #75 closed

[2019-01-21 18:16] ncamx opened #81 "el6 rpms missing execute permission on /etc/rc.d/init.d/*_exporter"
Unsure whether this is something odd in the binary rpms or caused by something odd about my target:

\# uname -a
Linux xxxx 2.6.32-358.el6.x86_64

\# rpm -i pkgs/node_exporter-0.17.0-1.el6.x86_64.rpm

\# rpm -q --list node_exporter-0.17.0 | xargs ls -ld
-rw-r--r--. 1 root       root              0 Dec 27 09:19 /etc/default/node_exporter
-rw-r--r--. 1 root       root           1808 Dec 27 09:19 /et

[2019-01-22 19:24] britcey commented on #81
Somewhat my fault - I fixed the template.spec when I was fixing the Redis exporter but failed to mention it / call it out in a separate commit:

https://github.com/lest/prometheus-rpm/commit/4035ef0e4e212d398518def2eb8e05a0aef2a123#diff-f330955ca6ef92f96f92e832cd10fbbaL57

So packages built since that merge should have the correct permissions.

I don't know if the packages should be rebuilt w/ a n

[2019-01-22 22:33] ncamx commented on #81
Thanks for that clarification - makes sense now. Easy enough to work around in the meantime.

[2019-01-22 22:33] #81 closed

[2019-01-23 17:04] zoonage opened #84 "Support Debain packages"
It would be good if we could support systems that use DPKG as well as RPM based systems.

Proposed solution: We could use alien to convert the outputted RPMs to DPKG format, however I don't know how reliable that is.

Another solution would be to template the DPKG builds in a similar way to what we do with RPMs, but that is more work

@lest Would this need any changes on the Package Cloud side to

[2019-02-20 15:11] zoonage commented on #53
Sorry to ask again - @nodanero or @ak-uk did you install it using the script from package cloud or from the `README.md`?

[2019-02-20 16:18] lest commented on #84
Packagecloud supports having both RPMs and DEBs in the same repo. Using alien can be a good solution if it's reliable enough.

[2019-02-20 16:33] lest commented on #53
I did some testing. Initially, `reposync` failed with:

[code]

However, it worked after either switching `repo_gpgcheck` to `0` or installing one of packages with `yum install` and accepting GPG keys when prompted.

[2019-02-20 17:49] zoonage commented on #84
I think one of the issues we are going to have is keeping the same script working between two OSs, I just did a quick check with the kafka RPM and alien could not convert it straight out.

[2019-03-01 09:01] patsevanton opened #95 "Added https://github.com/BonnierNews/logstash_exporter"
Hello!
Can added https://github.com/BonnierNews/logstash_exporter ?
I can try create PR.

[2019-03-18 21:08] zoonage commented on #95
This would be significantly easier if @BonnierNews uploaded the compiled binary.

If that isn't possible then I think this will need modifications to `generate.py` to be able to take a binary from something inside this repository.

[2019-03-20 12:04] Merlin83b opened #102 "Ownership/permissions don't allow textfile_collector files to be read"
Under CentOS 7, node_exporter runs as the prometheus user in the prometheus group.

The `/var/lib/node_exporter/textfile_collector` directory is owned by root:node_exporter with 771 permissions, so files created inside can't be read by the node_exporter process

Solutions include changing permissions on the textfile_collector directory or adding the prometheus user to the node_exporter group.

[2019-03-26 10:49] akurach opened #103 "nginx_exporter el6 issues"
Hello, there are some issues with nginx_exporter on el6 OS.

1. daemonize pkg is needed and its better to add it in req list
2. in /etc/init.d/nginx_exporter
line 33 u have to change ${EXPORTER_ARGS} to ${NGINX_EXPORTER_OPTS}

[2019-04-01 16:00] vhaidamaka commented on #84
@zoonage Most of prometheus packages are available in the debian/sid.
Take a look [salsa.debian.org](https://salsa.debian.org/go-team/packages?utf8=%E2%9C%93&filter=prometheus)

[2019-04-03 17:37] zoonage commented on #84
@vhaidamaka thanks, I'll close this out

[2019-04-03 17:37] #84 closed

[2019-04-03 17:41] zoonage commented on #102
@Merlin83b  what makes this directory? I can't see a reference to it anywhere

[2019-04-13 02:52] altmind opened #106 "Permission denied while building(make all) on Centos7 locally"
Fresh install of centos7. Steps:
[code]
The result:
[code]

[2019-04-13 03:12] altmind commented on #106
False alarm, seems that I need to disable selinux.

[2019-04-13 03:12] #106 closed

[2019-04-18 19:54] tureba opened #110 "openstack exporter ?"
Hi,

Any plans on adding openstack exporter to the repo?

Thanks,
Arthur

[2019-05-04 17:32] zoonage commented on #110
Hi @tureba can you provide a URL to the repo?

[2019-05-04 17:34] zoonage commented on #103
@lest can you assign this issue to me so I don't forget about it? I should have some time to fix it as it's a public holiday in the UK this weekend

[2019-05-04 20:27] tureba commented on #110
Hi
Sure, we've been using https://github.com/Linaro/openstack-exporter successfully.

[2019-09-06 19:33] britcey opened #144 "Bump limits in unit files?"
I find myself adding override files for several of these packages (blackbox, snmp & prometheus itself) - the default file limit of 4096 is just too low.

Should we just add

LimitNOFILE=65536

(or some other value) to the unit files by default?

[2019-09-09 13:19] karlism commented on #144
@britcey, agreed, and Alertmanager too.
Are you sure you're hitting hard limits, as `process_open_fds` metrics usually report soft limit, which is 1024 by default. We've had to increase soft limits for our Alertmanager and Prometheus instances by increasing it to 3072 like this:
[code]

[2019-09-09 16:18] britcey commented on #144
I suspect you're right & I hit the soft limit:

  `fd_limits="(soft=1024, hard=4096)"`

but after setting just LimitNOFILE=8192, it adjusted both:

   `fd_limits="(soft=8192, hard=8192)"`

Any particular reason to adjust the soft limit separately?

And do we have any feel for what's a good figure?

[2019-09-11 14:05] britcey commented on #144
I asked on #prometheus-dev & bbrazil replied:

So let's say 65536 across the board?  Quite high without being unlimited.

[2019-09-18 13:18] karlism commented on #144
65536 sounds fine to me, million - not so much. These limits are there for a reason after all, and any system would be dead long before reaching them.

[2019-09-18 13:23] britcey commented on #144
Agreed;  I'll add

LimitNOFILE=65536

to to the prometheus, alertmanager, blackbox_exporter & snmp_exporter unit files - any others?

I imagine any proxy-style exporters (like blackbox & snmp) should have it - I'm less familiar with the other exporters we package up but I think the rest are one-to-one style exporters.

[2019-09-27 12:40] pakala27 opened #149 "Node exporter"
Please prepare spec file and systemd file for node_exporter

[2019-10-07 17:27] travis-bear opened #151 "Init script should exit with value > 0 when 'status' action is not running"
Condition: node_exporter is not running
User action: user calls the `status` action of the init script
Expected: init script exits with value > 0
Actual: init script exits with value 0

Example:

[code]

The exit value of this script is consulted by infrastructure tooling (e.g. Chef) to determine if the service needs to be restarted, so this bug interferes with automated lifecycle management.

I d

[2019-10-10 11:15] ruben-herold opened #152 "Please provide centos 8 packages"
hi,

centos 8 is now the current centos release. Could you please also provide packages for centos 8

[2019-11-09 06:43] patsevanton opened #160 "Add nginx-vts-exporter"
May be add https://github.com/hnlq715/nginx-vts-exporter ?

nginx-vts-exporter  - Simple server that scrapes Nginx vts stats and exports them via HTTP for Prometheus consumption

[2019-11-19 04:09] patsevanton opened #166 "Add process-exporter"
Please add https://github.com/ncabatoff/process-exporter/releases

[2019-11-19 08:18] karlism commented on #166
https://github.com/lest/prometheus-rpm/tree/master/process_exporter

[2019-11-19 08:54] patsevanton commented on #166
Sorry :)

[2019-11-19 08:54] #166 closed

[2019-12-04 00:59] crunchytyler opened #170 "prometheus2 SPEC file tsdb build error"
Hello,

I believe there is an issue with the prometheus2 SPEC file [here](https://github.com/lest/prometheus-rpm/blob/master/prometheus2/prometheus2.spec) that causes builds to fail with the following error:
`install: omitting directory 'tsdb'`

It appears to be due to the following line (34):
`install -D -m 755 tsdb %{buildroot}%{_bindir}/tsdb`

This line is pointing to a sub-directory within the

[2019-12-04 04:18] britcey commented on #170
Hi Tyler,

That's not a "real" spec file in the sense it's made for building prometheus from scratch - it's used to package up the released binaries:

https://github.com/prometheus/prometheus/releases

'tsdb' is indeed in the same directory as 'prometheus' and 'promtool' in the release tarball.

That spec file won't work for building prometheus from scratch.

[2019-12-10 14:05] britcey commented on #170
@lest I think this can be closed.

[2019-12-10 19:46] britcey commented on #144
Closing this out.

[2019-12-10 19:46] #144 closed

[2019-12-17 10:37] karlism opened #177 "Collaborator access to repository"
@lest, can you please give me and @britcey collaborator access to `prometheus-rpm` repository so that we can push updates and merge requests? Sometimes it takes you quite some time to approve even minor changes, like version updates and we could probably help you with that.

[2019-12-17 14:45] britcey commented on #177
I was going to broach that subject as well;  you'd still be fully in control of getting the packages to package cloud, etc. but we should be able to ease some of your burden.

[2019-12-19 12:44] lest commented on #177
Thank you for your numerous contributions! I'd really appreciate your further help. I've given you both access to the repository.

[2019-12-19 12:44] #177 closed

[2019-12-20 16:18] #170 closed

[2019-12-20 16:19] britcey commented on #170
Closing this out.

[2020-01-03 17:31] timhughes commented on #151
Same issue with puppet http://refspecs.linuxfoundation.org/LSB_5.0.0/LSB-Core-generic/LSB-Core-generic/iniscrptact.html

[2020-01-08 14:19] karlism commented on #149
It's created from templates https://github.com/lest/prometheus-rpm/tree/master/templates

[2020-01-08 14:19] #149 closed

[2020-01-30 10:28] bjorntj commented on #152
CentOS 8 packages would be nice.. :)

[2020-01-30 15:39] ruben-herold commented on #160
Think you can close this cause not needed
In recent versions of nginx-vts it can do it alone:

https://github.com/vozlt/nginx-module-vts

"/status/format/prometheus

    If you request /status/format/prometheus, will respond with a prometheus document containing the current activity data. "

[2020-01-31 03:20] patsevanton commented on #160
Ok

[2020-01-31 03:20] #160 closed

[2020-02-03 13:27] Atoms commented on #152
is there some update for centos8 ? :)

[2020-02-12 15:59] david-ecc opened #192 "postgres_exporter outdated on packagecloud.io"
On packagecloud.io the newest version for el7 is 0.4.7: https://packagecloud.io/app/prometheus-rpm/release/search?q=postgres_exporter

Latest version in .spec-file is 0.8.0:
https://github.com/lest/prometheus-rpm/blob/master/postgres_exporter/postgres_exporter.spec

Please update the packages on packagecloud.io

[2020-02-13 21:15] jstallard commented on #152
I have submitted a PR to zoonage, whose docker images are used for building these RPMs: https://github.com/zoonage/centos-rpm-builder-docker/pull/4

If/when that is accepted and the centos8 build images are uploaded to quay.io, I can open a PR here w/ the changes necessary to build. Here's a draft PR w/ the changes-to-be: https://github.com/lest/prometheus-rpm/pull/193

[2020-02-18 07:55] karlism commented on #192
Thanks for reporting this issue, fixed by https://github.com/lest/prometheus-rpm/pull/196

[2020-02-18 07:55] #192 closed

[2020-02-18 14:03] #151 closed

[2020-02-18 14:47] lest commented on #152
Some packages are now available for CentOS 8:

- node_exporter
- mysqld_exporter
- redis_exporter
- haproxy_exporter
- kafka_exporter
- nginx_exporter
- ssl_exporter
- bind_exporter

Keeping this issue open until all packages are ready for CentOS8.

[2020-03-23 20:47] kjetilho opened #203 "packagecloud.io setup disables gpgkey"
it would be good if the packagecloud.io information included pointers to RPM-GPG-KEY-prometheus-rpm so that the gpgcheck doesn't need to be disabled by their automatic scripts.  also, it would be nice if this gpg key was uploaded to the normal PGP keyservers.

[2020-03-26 00:06] schmidtw opened #205 "How to go about adding golang dependency?"
Hello,

I've added support for [`dnsmasq_exporter`](https://github.com/schmidtw/prometheus-rpm/commit/1d7ff351de6400ff34a8634ab233f27cd8b0c93e) but I need the docker images to include `epel-release` or some other way to acquire the build dependency `golang`.

I've been able to test that with this one additional repo enabled, the build works. via changing:
[`build-spec SOURCES/autogen_${PACKAGE}.sp

[2020-04-02 12:23] bjorntj commented on #152
Any progress on this?

[2020-04-29 14:28] karlism opened #214 "Setting different user in templated exporters"
I've tried to switch `keepalived_exporter` to root user (as it requires to be run as `root` since it needs to send `SIGUSR1` to `keepalived` process, which runs as `root` on CentOS).

After adding `user` and `group` paramters to template as following I discovered couple of issues:
[code]

Package cannot be installed as it conflicts with other packages:
[code]

It attempts to create `/var/lib/prome

[2020-04-29 14:33] karlism commented on #214
I will create merge reques to address this issue.

[2020-04-30 06:09] #214 closed

[2020-05-05 09:17] karlism commented on #152
@lest, is there anything stopping us from building all packages for CentOS 8 now? I've just tried building `prometheus2` package for it and it seemed to work just fine:
[code]

[2020-05-05 10:32] lest commented on #152
@karlism Thank you for checking it out. I think nothing stops us from building all CentOS 7 packages for CentOS 8 as well really. Please feel free to update `Makefile`, we'll also need to update `.travis.yml` to parallelize those additional builds.

[2020-05-06 14:43] #152 closed

[2020-05-06 17:07] #53 closed

[2020-05-08 09:34] karlism commented on #205
I don't think this is possible by using existing templates, but you can create custom spec file, like https://github.com/lest/prometheus-rpm/blob/master/prometheus2/prometheus2.spec, and specify `epel-release` as `BuildRequires` parameter.
Bet we build packages from pre-built binaries, so best course of action would be to ask `dnsmasq_exporter` developers if they can provide them.

[2020-05-08 09:34] #205 closed

[2020-05-26 21:09] muralibabu opened #231 "Centos 7 Node_exporter package systemd file issue"
Hi

I have installed node_exporter-0.18.1-1.el7.centos.x86_64 rpm on centos 7
After install systemd ("/usr/lib/systemd/system/node_exporter.service") file created with different 'ExecStart' Argument and EnvironmentFile needs change.

Please look into this and compile and update new RPM for centos7.

Thanks
Murali

Host operating system: output of uname -a
Linux example.com 3.10.0-957.27.2.el7.x86_

[2020-05-27 06:49] karlism commented on #231
@muralibabu, why did you expect `$EXPORTER_ARGS` to be there?

It's true that packages build for CentOS 6 have different variable than ones that are built for CentOS 7/8 (https://github.com/lest/prometheus-rpm/pull/80). We do not want to change that as that would be braking change for anyone who has these packages already installed on their CentOS 6 systems, and considering that CentOS 6 is reachi

[2020-05-27 07:10] karlism commented on #231
All packages in this repo have consistent naming `${NAME}_OPTS`, see this for an example:
[code]

[2020-05-27 08:27] muralibabu commented on #231
Got it.
Please help below issue,
Systemd file has EnvironmentFile=-/etc/default/node_exporter which should be only
EnvironmentFile=/etc/default/node_exporter.

[2020-05-27 14:38] karlism commented on #231
Quoting systemd `EnvironmentFile` documentation:

Why do you think that `-` should be removed?

[2020-05-27 19:40] muralibabu commented on #231
Understand the meaning for the '-' in systemd. Thanks.

[2020-05-28 06:36] #231 closed

[2020-08-12 07:02] karlism opened #255 "Services start before networking is up"
We've run into scenario, where exporters are starting before networking is up during the system startup, and are failing to bind to network address:
[code]

Services have `Restart=on-failure` systemd parameter, but default value of [RestartSec](https://www.freedesktop.org/software/systemd/man/systemd.service.html#RestartSec=) parameter is only 100ms, and they are restarted way too quickly. I sugge

[2020-08-12 08:14] karlism commented on #255
Resolved by https://github.com/lest/prometheus-rpm/pull/256

[2020-08-12 08:14] #255 closed

[2020-09-15 11:29] karlism opened #272 "429 too many requests from GitHub during the builds"
I've noticed lately that there are `429 too many requests` errors [during the build](https://travis-ci.org/github/lest/prometheus-rpm/jobs/727333004#L3318):
[code]

[2020-09-15 11:56] karlism commented on #110
@tureba, are you still interested in this?

This one seems to be a better option:
https://github.com/openstack-exporter/openstack-exporter

Last commit less than a month ago vs more than one year ago for the Linaro one

[2020-09-15 11:59] karlism commented on #95
@patsevanton, are you still interested in this?

This one seems to be a better option as the one you've proposed hasn't been updated since 2017:
https://github.com/alxrem/prometheus-logstash-exporter

[2020-09-15 12:01] karlism commented on #52
Closing this issue as most of the exporters have been updated since then. Merge requests are welcome if there are any other updates or new exporters required.

[2020-09-15 12:01] #52 closed

[2020-09-15 12:04] patsevanton commented on #95
@karlism i am not mainteiner prometheus-rpm

[2020-09-15 12:37] tureba commented on #110
Oh, that looks promising. I think I'd checked it out last year, but something was off then; don't remember what.
Nowadays, it looks like the best option, indeed.

[2020-09-16 07:48] #110 closed

[2020-09-16 07:50] karlism commented on #110
@tureba, I've just added OpenStack exporter, please test it as I have no access to OpenStack to test it myself.

[2020-09-17 17:39] tureba commented on #110
Works well, thanks!

[2020-10-27 09:07] karlism opened #288 "Warning about deprecated yaml.load() syntax"
https://travis-ci.org/github/lest/prometheus-rpm/jobs/738348120#L671
[code]

[2020-10-29 10:08] karlism commented on #272
I've looked a bit into this issue, we are hitting github quotas, which kinda makes sense.

CentOS 6 `spectool` is using `wget` to fetch files, but CentOS 7 & 8 `spectool` is using `curl`.

Newer versions of `curl` (>=7.67.0) support [proper handling of 429 error](https://github.com/curl/curl/pull/4465), but unfortunately both CentOS 7 & 8 packages contain older versions, `curl` 7.61.1 on CentOS 8

[2020-10-29 12:30] #288 closed

[2020-11-11 14:03] Rudd-O opened #294 "Missing BuildRequires systemd-rpm-macros"
On Fedora, these packages (e.g. alertmanager) do not build because the `%{_unitdir}` macro does not expand.  The solution is to add the following:

[code]

Then the macros expand.  It looks like the `systemd_requires` macro is provided by that package, and unfortunately that package is not installed on a base system, therefore the macro can't expand.

Permanent solution would be to ensure that if

[2020-11-12 07:03] karlism commented on #294
@Rudd-O, can you please create pull request?
You can probably start by fixing [template](https://github.com/lest/prometheus-rpm/blob/master/templates/spec.tpl#L25) that is used in [auto generated packages](https://github.com/lest/prometheus-rpm/blob/master/Makefile#L29), if the tests succeed same fix can be applied to other packages.

[2020-11-16 09:44] Rudd-O commented on #294
I would love to.  My current employer prohibits me from contributing to open source projects.  I can try to work in an exception, but that will take longer than I would like.  By the way, I'd like to say that your project is frickin' amazing and I personally rely on it every day to run my machine farm at home.  In fact the line of code you see above in the opening comment is part of the build proc

[2020-12-03 08:20] karlism opened #302 "CentOS 6 EoL"
@lest & @britcey, CentOS 6 has reached EoL, I suggest we should also drop support and stop building new packages for it, what's your opinion on that?

[2020-12-03 08:24] lest commented on #302
I agree with dropping support.

[2020-12-03 10:45] karlism commented on #302
It's actually not even an option as CentOS 6 builds [are already failing](https://travis-ci.org/github/lest/prometheus-rpm/jobs/747373013#L276).
I will try to remove CentOS 6 today.

[2020-12-03 14:23] #302 closed

[2021-01-26 08:58] zoonage opened #322 "Support ARM for packaging as well"
Title says it all really, ARM is becoming fairly popular now.

[2021-02-15 19:48] karlism commented on #294
I cannot reproduce the issue you are reporting. Just installed FC33 + `git` and `fedpkg` packages. Building `alertmanager` works out of the box:
[code]

[2021-02-15 20:31] karlism commented on #103
Closing as CentOS 6 support [has been deprecated](https://github.com/lest/prometheus-rpm/pull/304)

[2021-02-15 20:31] #103 closed

[2021-02-17 06:21] karlism commented on #322
I will look into implementing this for auto generated packages, especially since my plan is to eventually implement all currently missing functionality in auto generated templates. I will also look into adding support for building packages for Fedora.
I'm not entirely sure if creating separate docker build images for each architecture and platform is the right way to go, as we can use tools like [

[2021-04-23 14:07] britcey opened #400 "Move of blackbox_exporter to auto generated package lost capabilities config"
@karlism - the old blackbox_exporter.spec had:

%caps(cap_net_raw=ep) %{_bindir}/%{name}

under the %files section.

which set CAP_NET_RAW on blackbox_exporter, which is needed to send ICMP as non-root.

That has been lost with the move to auto generated package (and just bit me hard in a production update).

Do we want to add another static default context?  We could probably torture additional_s

[2021-04-23 14:26] #400 closed

[2021-04-23 14:28] karlism commented on #400
@britcey, `additional_sources` is suited for this task, I guess, so I've added new parameter `caps`. Please check in about 10-15 minutes when updated Blackbox Exporter package will be uploaded to repository to see if that has fixed your issue.

[2021-04-23 17:13] britcey commented on #400
That change works as intended.

[2021-05-13 09:13] mator commented on #102
@Merlin83b please give additional info on ticket or close it as irrelevant. Thanks.
PS: can't find `/var/lib/node_exporter/textfile_collector` on my centos-7 running node_exporter

[2021-06-03 10:04] sasah opened #425 "Change repo elasticsearch_exporter"
https://github.com/prometheus-community/elasticsearch_exporter

[2021-06-03 10:19] karlism commented on #425
We should probably move this exporter to templating too. Does this exporter provide any benefits comparing to [ES Prometheus plugin](https://github.com/vvanholl/elasticsearch-prometheus-exporter)?

[2021-06-03 10:36] sasah commented on #425
https://github.com/vvanholl/elasticsearch-prometheus-exporter - this is an internal plugin

[2021-06-09 18:04] haraldkoch opened #433 "alertmanager out-of-date"
Alertmanager 0.22.2 was released on 2021-06-01:

https://github.com/prometheus/alertmanager/releases/tag/v0.22.2

[2021-06-10 06:16] karlism commented on #433
Alertmanager has been updated to latest version, note that there is breaking change as some service parameters have been moved from systemd service file to `/etc/default/alertmanager` and you might need to adjust that file manually in case if you had previously overridden any of the defaults.

[2021-06-10 06:16] #433 closed

[2021-06-10 06:46] #425 closed

[2021-08-31 13:27] matthiasantierens opened #484 "mtail package is a gzip instead of an executable"
I installed rc44 and rc47. When I did `file` on those 'bins', it told me that it was a zip.

I renamed mtail to tmail.gz.tar and unzipped them and got the binary.

[2021-08-31 13:31] matthiasantierens commented on #484
I want to fix it but not sure where to look for this. The spec file looks fine to me.
@karlism Can you give me a pointer?

[2021-08-31 14:02] #484 closed

[2021-08-31 14:03] karlism commented on #484
@matthiasantierens, can you please check in about 10-15 minutes if https://github.com/lest/prometheus-rpm/pull/485 has resolved this issue?

[2021-08-31 14:14] matthiasantierens commented on #484
@karlism It works! Thank you!

[2021-11-18 10:05] matthiasantierens opened #539 "Add dnsmasq_exporter"
I would like to add the dnsmasq_exporter, but I am not sure how to add it because it does not have a release.
Go get is also broken atm so I had to build it with `go build .`

Any pointers?

Thanks in advance for the hard work!

[2021-11-18 10:16] karlism commented on #539
@matthiasantierens, we currently do not support building exporters from source (nor we ever plan to), exporter binary release is a requirement to build packages. Best course of action would be to create PR in dnsmasq exporter repository and adjust their GH workflow to release binaries for their exporter.

[2021-11-18 10:17] matthiasantierens commented on #539
Can I for now just add it as Source0 ?

[2021-11-18 10:28] #539 closed

[2021-11-22 14:16] devstek opened #541 "packagecloud.io pgp key for node exporter is not valid"
Hi,

when installing node_exporter manually via [packagecloud.io](https://packagecloud.io/prometheus-rpm/release) the described gpg key is not valid here: https://packagecloud.io/app/prometheus-rpm/release/gpg

Needed to install pgp key from https://raw.githubusercontent.com/lest/prometheus-rpm/master/RPM-GPG-KEY-prometheus-rpm additionally to get package installed as stated in readme.md

Please f

[2021-12-16 14:46] Rudd-O opened #560 "Packages miss systemd-rpm-macros build requires"
As a consequence the scriptlets look like this( *actually in the system, installed*) and they don't work:

[code]

[2021-12-16 14:46] Rudd-O commented on #560
Those % should render to something, but that requires systemd-rpm-macros in the buildrequires.

[2021-12-16 14:51] karlism commented on #560
@Rudd-O, is this dependency same for RHEL 6/7/8?

[2021-12-16 15:11] britcey commented on #560
Not seeing that on freshly downloaded Centos 7 & Centos 8 images & freshly built packages[1].

Where is the package from, the repo?  Which exact package version?

[1]

[code]

[2021-12-16 16:38] karlism commented on #560
Duplicate of https://github.com/lest/prometheus-rpm/issues/294

[2021-12-26 03:32] Rudd-O commented on #294
Nono.

This isn't an issue that "the package doesn't build".

It is an issue that the **macros** aren't rendered, due to missing BuildRequires.

Aa a result, package upgrades **fail**.

Please reopen and add BuildRequires: systemd-rpm-macros to the specfiles.  Thank you.

[2021-12-26 03:33] Rudd-O commented on #294
[code]

See those macros in postinstall/preuninstall/postuninstall?  Those should have been rendered at RPM creation time.  They were not because the `systemd-rpm-macros` BuildRequires is missing.

[2021-12-27 07:09] TheMeier commented on #294
I have seen this too. Please reopen

[2021-12-28 14:00] britcey commented on #294
Need steps to reproduce, including disto details and exact package info.

Can not reproduce with fedora28 and current package.

[code]

[2021-12-28 15:13] Rudd-O commented on #294
You probably have the `systemd-rpm-macros` package on your system where you are doing the builds.

To repro, use `mock` or rebuild your package in a minimal `toolbox` Fedora instance.  You'll see it right away.

[2021-12-29 16:10] britcey commented on #294
AFAICT, systemd-rpm-macros is only a separate package on Fedora, not Centos 7 & Centos 8 which are the build targets for this project.  You need to be going through some sort of non-standard workflow to even be building on Fedora.

It's not something easily supported without adding explicit Fedora support, which is a non-trivial bit of work and a non-goal for this project.  If you can get your exc

[2021-12-30 08:45] karlism commented on #294
@Rudd-O, Can you please check if adding something like this fixes your issue?
[code]

Not entirely sure if this conditional will work if `systemd-rpm-macros` package is not preinstalled already. And I do not have any Fedora systems to test it on.

[2021-12-30 08:45] #560 closed

[2022-01-03 23:12] Rudd-O commented on #294
The conditional should work.  To test if it works for sure, `toolbox create -r 34` and then inside the toolbox container, run the usual `rpmbuild` — then check with `rpm -qp --scripts`.

[2022-01-18 15:03] maartenbeeckmans opened #575 "Duplicate package in repo"
When mirroring the prometheus rpm repository in pulp we are experiencing errors due to a duplicate package.

Pulp is returning the following error:
`A file located at the url https://packagecloud.io/prometheus-rpm/release/el/8/x86_64/prometheus2-2.30.3-1.el8.x86_64.rpm failed validation due to checksum.`

When trying [dralley](https://github.com/dralley) tried downloading it manually with rpmrepo,

[2022-01-18 15:10] dralley commented on #575
In summary there's two different entries in the metadata referring to the same package (same name, epoch, version, release, and arch) and both point to the same file but both have different checksums.

There should only be one entry for each NEVRA combination is the primary issue, just make sure the old / invalid one isn't there.

[2022-01-18 15:26] karlism commented on #575
No idea why 2 identical packages have been published, @lest, can you please manually remove one of them?
https://packagecloud.io/app/prometheus-rpm/release/search?q=prometheus2-2.30

[2022-01-27 07:38] #294 closed

[2022-01-31 12:05] karlism opened #584 "CentOS 8 EOL"
@lest, @britcey, looks like CentOS 8 has reached EOL and AppStream repository is no longer working ("CentOS Linux 8 will reach End Of Life (EOL) on December 31st, 2021."):
[code]

Any suggestions how to proceed from here? We can either use CentOS Stream or any of other RHEL clones, I've replaced CentOS with Oracle Linux quite successfully at the company currently I'm working for.

Until this is re

[2022-01-31 12:13] lest commented on #584
@karlism Please correct me if I'm wrong. CentOS Stream 8 is a replacement for CentOS 8, so rebuilding the `centos-rpm-builder` image based on it can be a fix. Am I missing something?

[2022-01-31 12:22] karlism commented on #584
@lest, technically CentOS Stream 8 is replacement for CentOS 8, but it deviates from RHEL8 and I'm not sure if it is good idea to build packages on OS that might be significantly different from other RHEL8 clones.

[2022-01-31 12:38] lest commented on #584
I pushed `lest/centos-rpm-builder:stream8` and `ghcr.io/lest/centos-rpm-builder:stream8` so we can try using them temporarily. I also want to build images based on Oracle Linux 8 so we can test it too.

[2022-01-31 12:51] lest commented on #584
I also pushed `lest/centos-rpm-builder:oracle8` and `ghcr.io/lest/centos-rpm-builder:oracle8` based on Oracle Linux 8. I guess we can try either it or the CentOS Stream 8 one. I'll try to dedicate some time this week for testing. Please feel free to experiment with them so we can get builds running.

[2022-01-31 15:39] karlism commented on #584
@lest, thanks, just tried building with OL8 image, looks good, will try CentOS 8 Stream next.

[2022-01-31 16:16] karlism commented on #584
@lest, everything builds fine also with CentOS 8 Stream images.

There is actually one issue with JMX exporter, but it's an issue in spec file that I will fix shortly.

[2022-02-02 16:13] britcey commented on #584
Thanks for jumping on this issue;

what's the path forward - produce both Stream & OL8 images?  We've been dragging our feet but I think we're headed to OL8 internally.

[2022-02-03 09:37] karlism commented on #584
Not sure if it makes much sense to build packages on multiple distributions, our RPMs are basically statically linked binaries with standard systemd/defaults files, they should work on any distribution that supports RPMs and systemd.

[2022-02-15 05:34] k0ste commented on #584
@lest it is possible to resolve this issue? Actually we stale for a weeks, even for CentOS 7 builds

[2022-02-22 09:09] maartenbeeckmans commented on #575
Any update on this issue?

[2022-02-22 17:00] lest commented on #575
@karlism I missed your comment earlier. I deleted one of them manually via the packagecloud UI.

@maartenbeeckmans can you please check if the issue is resolved?

[2022-02-22 17:07] maartenbeeckmans commented on #575
Yes, now it works.

Thx for fixing the issue.

[2022-02-22 17:07] #575 closed

[2022-02-22 21:28] lest commented on #584
@karlism @britcey I updated the build process to use OL8 for building EL8 RPMs. It seems to be working good now so we can start updating and merging pull requests.

[2022-02-22 21:28] #584 closed

[2022-02-22 21:32] lest commented on #541
Hi @devstek. There are two different keys:

1) https://packagecloud.io/app/prometheus-rpm/release/gpg - to verify YUM metadata signature

2) https://raw.githubusercontent.com/lest/prometheus-rpm/master/RPM-GPG-KEY-prometheus-rpm - to verify RPM package signature

Unfortunately, we don't control documentation on https://packagecloud.io/app/prometheus-rpm/release/gpg to also include information abou

[2022-02-22 21:32] #541 closed

[2022-03-28 11:53] jsosic opened #614 "403 forbidden on yum on CentOS 7"
If I try to do `yum update` on CentOS 7, thing is broken:

[code]

Tested on base centos docker image with only `prometheus.repo` added to `/etc/yum.repos.d/`.

Testing with `curl -XHEAD` or `curl -XGET` doesn't reproduce it, but yum is still broken on this repo.

CentOS 8 works as expected.

[2022-03-28 12:45] karlism commented on #614
I'm having same issue:
[code]

[2022-03-28 12:48] MartinEmrich commented on #614
Just saw the same. Apparently the User-Agent of yum is blocked by AWS Cloudfront (the CDN used by the repository server). I guess this was an error oder false-positive. if you `curl` the same URL, it works, if you set the User-Agent header e.g. to `User-Agent: urlgrabber/3.10 yum/3.4.3`, it returns the generic 403 from AWS Cloudfront/AWS WAF.

[2022-03-28 17:11] jsosic commented on #614
Can we send a support ticket to packagecloud to allow yum from el7?

[2022-03-29 06:43] karlism commented on #614
It is now working properly:
[code]

[2022-03-29 06:43] #614 closed

[2022-04-05 14:10] sasah opened #620 "Add Grafana Mimir"
https://github.com/grafana/mimir

[2022-07-23 11:12] bastischubert opened #670 "Support for el9"
Hi There,

EL9 came out quite some time ago and also the Clones AlmaLinux9, RockyLinux 9 and so on.
Any chance to build packages for el9 and have them on packagecloud?

[2022-07-29 06:42] karlism commented on #670
Related to https://github.com/lest/prometheus-rpm/pull/615

[2022-08-05 09:14] zengyijian916 opened #676 "reposync Error: jmx_exporter-0.12.0-1.el8.noarch.rpm' is outside of download path"
**Issue:**
[root@LocalCentOS8 ~]# reposync --repoid=prometheus -p /var/www/html/repos/prometheus
prometheus                                                        309  B/s | 833  B     00:02
Error: Download target '/var/www/html/repos/prometheus/noarch/jmx_exporter-0.12.0-1.el8.noarch.rpm' is outside of download path '/var/www/html/repos/prometheus/prometheus'.
[root@LocalCentOS8 ~]
**Procedure:**

[2022-08-05 09:28] zengyijian916 commented on #676
Please help. how to fix this issue?

[2022-08-05 09:34] karlism commented on #676
Looks like this is known reposync issue: https://bugzilla.redhat.com/show_bug.cgi?id=1898089

[2022-08-05 09:34] #676 closed

[2022-08-05 14:30] zengyijian916 commented on #676
I think this is not due to that known issue. it's due to there is another directory named "noarch" in this repo URL.  All of the RPMs should be under one directory to avoid issues. hope this could fix later. just need `mv noarch/* ./` should work

[2022-08-24 12:52] devstek commented on #322
+1

[2022-10-14 23:55] sunilsankar commented on #670
Any update on this ?

[2022-10-17 02:14] magicJie commented on #322
+1

[2022-10-19 13:14] eelgnim commented on #670
Im also wondering if there is going to be packages for el9 on packagecloud?

[2022-10-21 10:41] karlism commented on #670
EL9 packages are finally available:
[code]

Thanks, @duritong!

[2022-10-21 10:41] #670 closed

[2022-10-26 06:28] RainbowHerbicides opened #703 "Change in Prometheus2 release cycle"
Prometheus decided to introduce LTS releases with `2.37.0` https://prometheus.io/docs/introduction/release-cycle/, which will not fit with current repository structure. I propose to make a copy of `https://github.com/lest/prometheus-rpm/tree/master/prometheus2` but under different name `prometheus2-lts` and bump versions specifically for `2.37.X` releases (2.37.1 already out but not obtainable thr

[2022-10-26 06:44] karlism commented on #703
@RainbowHerbicides, do you know if there can be multiple Prometheus releases in parralel?

[2022-10-26 11:16] RainbowHerbicides commented on #703
@karlism I am not 100% sure but judging by their announcement and their schedule https://github.com/prometheus/prometheus/blob/main/RELEASE.md#release-schedule - current LTS (`2.37.X`) will be supported from July 2022 till January 31 2023, which is pretty short for LTS in my opinion. We can safely assume that they will bump next release (probably `2.42.x`) to LTS and archive `2.37.X` so they would

[2022-10-31 13:36] RainbowHerbicides commented on #703
Tried asking in IRC and on Twitter - received 0 reply

[2022-11-30 11:51] wywerne commented on #703
6 months : https://prometheus.io/docs/introduction/release-cycle/ & https://github.com/prometheus/prometheus/releases/tag/v2.37.0 And this only concerns the server part